#site-navigation {
	padding:0;
	width:100%;
}
#menu-topmenubar {
	clear: both;
	display: table;
	padding:0;
	width: 100%;

	>ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		width:100%;
		display: table-row;
		background-color:#FFFFFF;
		>li {
			display:table-cell;
			position: relative;

			>a {
				text-align:center;
			}

			&:hover > a {
			}

			ul {
				display:none;
				position: absolute;
				margin: 0;

				top:2em;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				background-color:#FFFFFF;
				list-style: none;
				ul {
					display:none;
					top:2em;
				}

				li {
						left: 100%;					

					a{
						padding-left: 10px;

					}									
					&:hover > ul {


					}
				}

				a {
					width: auto;
					font-size:0.85em;
					line-height:2em;
				}

				:hover > a {

				}

				a:hover {
				}
			}
			&:hover ul{
				display:block;
				width:150%;
			}
		}
		a {
			display: block;
			text-decoration: none;
			//padding:5px 15px;
			line-height:2em;
			color:#4d4d4d;

		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
			background-color: #dfebef;
		}

	}
	a:hover {
		text-decoration: underline;
		color:black;
	}

}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0.5em 0;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
