@media screen and (min-width: 993px) {
	#site-navigation {
		display:block;
		position:absolute;
		padding:0;
	  //width:100%;
	  bottom:0;
	}
	#menu-topmenubar {
		clear: both;
		display: table;
		padding:0;
		width: 100%;

		>ul {
			list-style: none;
			margin: 0;
			padding-left: 0;
			width:100%;
			display: table-row;
			background-color:#FFFFFF;
			>li {
				display:table-cell;
				position: relative;
				&.menu-item-has-children a {
					padding-right:10px;
				}

				&.menu-item-has-children:after {
					font-size:20px;
					content: "\f0d7";
					display:block;
					position: absolute;
					color:#444444;
					top:10px;
					right:15px;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					transform: translate(0, 0);

				}
				>a {
					text-align:center;
					border-right:1px solid #DFDFDF;
				}

				&:hover > a {

				}

				ul {
					display:none;
					position: absolute;
					margin: 0;

					top:2em;
					box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
					background-color:#FFFFFF;
					list-style: none;
					ul {
						display:none;
						top:2em;
					}

					li {
						left: 100%;

						a{
							padding-left: 10px;

						}									
						&:hover > ul {


						}
					}

					a {
						width: auto;
						font-size:0.80em;
						padding-top:4px;
						padding-bottom:6px;							
						line-height:1.0em;
						border-bottom:1px solid #DFDFDF;
					}

					:hover > a {

					}

					a:hover {
					}
				}
				&:hover ul{
					display:block;
					width:150%;
				}
			}
			a {
				display: block;
				text-decoration: none;
			//padding:5px 15px;
			line-height:2em;
			color:#4d4d4d;

		}

		.current_page_item > a,
		.current-menu-item > a,
		.current_page_ancestor > a {
			background-color: #dfebef;
		}

	}
	a:hover {
		text-decoration: underline;
		color:black;
		background-color:#EEEEEE;
	}

}
.no-link > a {
	pointer-events: none;
	cursor: default;
}
}


@media screen and (max-width: 992px) {
	#site-navigation {
		//position:relative;
		//padding:0 15px;
	}
	#menu-topmenubar > ul > li.menu-item-has-children:after {
		//right:7px;
	}
}


/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0.5em 0;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
