/*--13.0 Overrides --*/


.pt-sans {
	font-family: 'PT Sans', sans-serif;
}


.roboto-slab {
	font-family: 'Roboto Slab', serif;
}



@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

html {
	background-color:#2c2c2c;
	background-image: url("/images/bg_edge.png");

	body {
		background-color:black;
		color:#EEE;
		@extend .roboto-slab; 
	}
}



#masthead {
	position:relative;

}
#logo img {
	max-width:100%;
	height:auto;
}


#site-navigation {
	position:absolute;
	bottom:0;
	right:0;
	font-size:1.1em;
}

body, div, header, footer {
	outline:1px solid #AAAAAA;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:active>.dropdown-menu, .dropdown-submenu:hover>.dropdown-menu {
	display: block;
}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:active>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}








